
html{
	scroll-behavior: smooth;
   height: 100%;

}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@font-face{
	font-family: 'century';
	src: url(century.ttf);
}



/*Header style*/

.headingTop{
    line-height: 40px !important;
    font-size: 60px !important;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    font-family: 'Dosis', sans-serif !important;
    left: 50%;
    color: rgba(0, 0, 0, 0.1) !important;
}

.headingToph3 {
    padding: 8px 20px;
    line-height: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    font-weight: 600;
    margin: 0px;
    background: none;
    font-family: 'Dosis', sans-serif !important;
    color: #000;
    text-transform: initial;
    letter-spacing: 2px;
    clear: both;
    border-color: #f98012;

}

#headtoph3 {
    
    margin: 0px 13vw;
}

@media screen and (max-width: 600px) {
    #headtoph3 {
        margin: 0 25vw;
    }
}

#headtopworksh3 {
	
    margin: -1em 35em;
}

@media screen and (max-width: 600px) {
    #headtopworksh3 {
        margin: 0 9em;
    }
}

.headingToph3::before{
	border-color: #f98012;
	 bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 1;
    border-bottom: 1px solid;
    border-left: 1px solid;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}


.headingToph3::after{
	top: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 1;
    border-left: 1px solid;
    border-top: 1px solid;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}


.headerSmall::before{
	border-color: #f98012;
	bottom: 0;
    right: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 1;
    border-bottom: 1px solid;
    border-right: 1px solid;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.headerSmall::after{
	top: 0;
    right: 0;
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 1;
    border-top: 1px solid;
    border-right: 1px solid;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}


/*HEADER ENDS*/





/*OUR WORK*/
.galleryHeader{
	text-align: center;
}

@media(orientation:portrait){
.carousel{
	    transform: scale(0.395) translateX(-77.2%);

}
}
/*Contact form code*/

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}


/*Conatct page Font and text design*/
.contactpage{
	text-align: center;
	margin-top: 2vw;
}

.contactpage p{
	font-size:2vw;
	margin:0;
}

/* Add a background color and some padding around the form */
   
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
  width:45vw;
  margin-left:2vw;

}

/*contactUs code*/
.contactUs{
	float: left;
	width: 100%;
}

.form {
	width: 55%;
	float: left;
}

.map {
	float: left;
	width: 45%;
}

/*responsive code for the contactUs part*/

@media screen and (max-width: 800px) {

    .contactUs {
        columns:1 80vw;
		float: none;
    }
    .container {
		  border-radius: 5px;
		  background-color: #f2f2f2;
		  padding: 20px;
		  text-align: left;
		  width:5 1vw;
		  margin-left:4vw;
		  margin-right:4vw;
		  margin-bottom: 2vw;

}
	.form {
			float: none;
	}
	.map {
			float: none;
	}
	.contactpage p {
		font-size: 4vw;
	}
}

@media screen and (max-width: 600px) {
   .contactUs {
       columns:1 80vw;
    }
    .container {
		  border-radius: 5px;
		  background-color: #f2f2f2;
		  padding: 20px;
		  text-align: left;
		  width: 81vw;
		  margin-left:4.5vw;
		  margin-right:4.5vw;
		  margin-bottom:10vw;
	}

	.contactpage p {
		font-size: 4vw;
	}
}














/*connect style*/

.connect{
	background-color: #626161;
	position: relative;
	width: 100vw;
	height: 50vh; 
	margin-top: 89vh;
}

.connectHead{
	font-weight: bold;
	font-family: sans-serif;
	color: #ffffff;
	opacity: 0.95;
	position: absolute;
	top: 10%;
	left: 5%;
}
.connectHead::after{
	width: 75%;
	height: 1px;
	content: '';
	background-color: white;
	position: absolute;
	bottom: -0.2em;
	left: 50%;
	transform: translateX(-50%);
}
.card-size{
	width: 196px;
	height: 200px;
	color: white;
	font-family: century;
	box-shadow:5px 10px 8px #111;
}

/*facebook card*/
.fb-card{
	background-color:#4267b2;
	position: absolute;
	left: 33.5vw;
	top: 38%;
}

.twitter-card{
	position: absolute;
	left: 74.3vw;
	top: .5vh;
	background-color: #1d93c7;
}

.contactInfo{
	color: white;
    background-image: url(images/slide-5.jpg);
    background-size: cover;
    width: 26%;
    height: 100%;
    left: 48vw;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    font-family: century;
    font-size: 1.4vw;    
    border: 1px solid white;
}
.contactInfotext{
	padding: 45px;
	position: absolute;
}

.icon-facebook{
	display: inline-block;
	background-image: url('fb.png');
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 19%;
	left: 34%;
	transform: translateX(-50%);
	color: white;
	font-family: century;
}

.fb-text{
	position: absolute;
	top: 45%;
	left: 21%;
}

/*twitter card
*/
.icon-twitter{
	display: inline-block;
	background-image: url('twitter.png');
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 19%;
	left: 34%;
	transform: translateX(-50%);
	color: white;
	font-family: century;
}

.twitter-text{
	position: absolute;
	top: 45%;
	left: 21%;
}



/*Respomsive code for connect us*/
@media(orientation:portrait){
	.connect{
    height: 45vh;
    margin-top: 0;
	}

	.connectHead{
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 6vw;
	}

	.card-size{
	width: 110px;
    height: 130px;
	}
.fb-card{
	 left: 1.5vw;
    top: 43%;
}

.contactInfo{
    width: 33%;
    height: 46%;
    left: 33vw;
    position: absolute;
    top: 11vh;
    font-size: 2vw;
}

.twitter-card{
	left: 67.3vw;
    top: .5vh;
}
.fb-text{
	position: absolute;
    top: 35%;
    left: 15%;
    font-size: 4.5vw;
}

.icon-facebook{
	top: 10%;
    left: 33%;
}	
.icon-twitter{
	top: 4%;
}
.twitter-text{
	top: 29%;
	left: 18%;
}
.contactInfotext{
	padding: 2px;
	font-size: 2.5vw;
}

}









/*Footer design*/
#foot {
    background-color: black;
    display: flex;
    height: 15vh;
    position: relative;
    font-family: century;
    letter-spacing: 1vh;
    float: left;
    width: 100%;
    top: 0vh;
}

.left {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center

}

.mid {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

.m1 {
    flex: 1;
}

.m2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.m3 {
    flex: 1;
}

.follow {
    text-align: center;
    color: white;
    flex: 1;
    font-size: 3vh;
}

.icons {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.r1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 2.5vh;
    color: #706d6c;
}

.fab {
    color: white;
    font-size: 3vh;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
}

.fab:hover {
    color: red;
}
.far{
    color: white;
    font-size: 3vh;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
}
.far:hover {
    color: red;
}

.ted{
    display: flex;
    flex-direction: row;
    color:#706d6c;
}
.phone
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #foot{
    	flex-direction: column;
    }
}
/*Footer design ends*/




/*ABOUT US*/

.middle{
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.card{
  cursor: pointer;
  width: 340px;
  height: 480px;
}
.front,.back{
  width: 90%;
  height: 90%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}


.front img{
  height: 100%;
}
.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content{
  color: #2c3e50;
  text-align: center;
  width: 100%;
}
.sm{
  margin: 20px 0;
}
.sm a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%
}
.sm a:hover{
  background: #2c3e50;
  color: white;
}
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
